img {
  max-width: 100%;
  display: block;
  align-self: center;
}
.product-box {
  background-color: #f5f5f5;
  padding: 2rem;
  text-align: start;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  line-height: 1.4;
}
.product-title {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.product-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  cursor: pointer;
}
.link-text:link,
.link-text:visited {
  color: #252020;
}
.link-text:hover,
.link-text:active {
  color: #1e1a1a;
}

.icon,
.icon-fill {
  font-size: 2.4rem;
}
.icon-fill {
  color: #f00;
}
